body {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

img {
  height: 100px;
}

#landingImg {
  height: 600px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#chartButton {
  top: 200px
}

.form {
  margin-left: 35%;
  margin-right: auto;
  margin-top: 100px;
}

.electionForm {
  margin-top: 50px;
  margin-left: 35%;
  margin-right: auto;
}

/* .container {
  display: flex
} */
/* 
.flexBallot {
  flex-direction: row
} */