body {
  font-family: 'Libre Baskerville', sans-serif;
  background-repeat: repeat;
  background-image: url("ecailles_@2X.png");
  margin-bottom: 200px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}


img {
  height: 100px;
}

#landingImg {
  width: 800px;
  height: 600px;
  padding-left: 70px;
  padding-top: 70px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.form-flex {
  display: flex
}

#chartButton {
  top: 200px
}

.form {
  margin-top: 100px;
  margin-left: 50px;
}

.electionForm {
  margin-top: 50px;
  margin-left: 35%;
  margin-right: auto;
}

.user-greeting {
  position: absolute;
  right: 60px;
  top: 40%;
  color: white;
  font-family: "Baskerville", sans-serif;
  font-weight: 10;
}

.ballot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.ballot-candidate {
  width: 60vw;
  padding: 9px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.election-box {
  width: 700px;
  height: 250px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: azure;
}

.upcoming-election-box {
  width: 700px;
  height: 150px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: azure;
}

.center-text {
  width: 700px;
  height: 250px;
  text-align: center;
  margin-bottom: 200px;
}

.watchParty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 380px
}

.ballot-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  height: 100px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: white;
}
/* .app-bar {
  position: fixed;
  top: 0;
  width: 100%;
} */

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center
}

.flexBallot {
  flex-direction: row

}

.candidate-name-wrapper {
  display: flex;
  flex-direction: column;
}

.ballot-wrapper {
  padding-bottom: 50px;
}

.history-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.past-election-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.past-election-box {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 300px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: azure;
}

.header {
  font-size: 36px;
}

.info {
  font-size: 20px;
}

.faq-box {
  width: 700px;
  height: 350px;
  margin: 30px auto 0;
  padding: 30px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  /* text-align: center; */
  background-color: azure;
}

.community-member-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 700px;
  height: 50px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: azure;
}

.invite-form-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 700px;
  height: 900px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: azure;
}

.candidate-box {
  width: 350px;
  height: 370px;
  margin: 30px auto 0;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: azure;
}

.active-candidates-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.progress-bar-wrapper {
  margin-bottom: 50px;
}
