body {
  font-family: 'Libre Baskerville', sans-serif
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}


img {
  height: 100px;
}

#landingImg {
  height: 600px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#chartButton {
  top: 200px
}

.form {
  margin-left: 35%;
  margin-right: auto;
  margin-top: 100px;
}

.electionForm {
  margin-top: 50px;
  margin-left: 35%;
  margin-right: auto;
}

.user-greeting {
  position: absolute;
  right: 60px;
  top: 40%;
  color: white;
  font-family: "Baskerville", sans-serif;
  font-weight: 10;
}

.ballot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ballot-candidate {
  width: 60vw;
  padding: 9px;
}

.app-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .container {
  display: flex
} */
/*
.flexBallot {
  flex-direction: row
} */
